<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>个人中心</title>
    <link rel="shortcut icon" href="../static/img/icon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body style="background: #efefef">
    <!--导入导航条-->
    <div th:replace="~{layout/head::head}"></div>

    <div class="container-fluid main profile" style="margin: 30px; background: white">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
          <h2><span th:text="${sectionName}"></span></h2>
          <hr/>
          <div class="media" th:each="page : ${pageDTO.records}">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-rounded" th:src="${page.user.avatarUrl}" style="width: 45px;">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading" th:text="${page.title}"></h4>
              <span th:text="${page.content}"></span><br>
              <span style="font-size: 12px;font-weight: normal;color: #999;">
                • <span th:text="${page.user.name}"></span> 发表了该贴
                • <span th:text="${page.commentCount}"></span> 个回复
                • <span th:text="${page.viewCount}"></span> 次浏览
                • <span th:text="${page.likeCount}"></span> <span style="color:red;"> ❤ </span>
                • <span th:text="${#dates.format(page.gmtCreate,'yyyy'+'年'+'MM'+'月'+' dd'+'日'+' HH'+':'+'mm')}"></span>
              </span>
            </div>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination" th:with="count=${pageDTO.pages}">
              <li>
                <a th:href="@{'/profile/'+ ${section} +'?pageNum='+ 1 + '&pageSize=5'}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <li th:each="index:${#numbers.sequence(1,count)}" th:class= "${pageDTO.current == index} ? 'active' : ''">
                <a th:href="@{'/profile/'+ ${section} +'?pageNum='+ ${index} + '&pageSize=5'}"  th:text="${index}"></a>
              </li>

              <li>
                <a th:href="@{'/profile/'+ ${section} +'?pageNum='+ ${pageDTO.pages} + '&pageSize=5'}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <div class="list-group section">
            <a href="/profile/posts" th:class="${section == 'posts'} ? ' list-group-item active' : 'list-group-item' ">我的贴子</a>
            <a href="/profile/replies" th:class="${section == 'replies'} ? ' list-group-item active' : 'list-group-item' ">最新回复
              <span class="badge">14</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>