<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>发布</title>
        <link rel="shortcut icon" href="../static/img/icon.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/community.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
  <body style="background: #efefef">
   <!-- 导航条 -->
   <div th:replace="~{layout/head::head}"></div>

    <div class="container-fluid main" style="margin: 30px; background: white">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 发表新贴</h2>
            <hr/>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">标题&nbsp;<span class="glyphicon glyphicon-bookmark"></span></label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="这个贴子距离火就差这个标题了~" th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="content">内容&nbsp;<span class="glyphicon glyphicon-pencil"></span></label>
                    <textarea class="form-control" rows="7" id="content" name="content" placeholder="来吧，尽情发挥吧..." th:text="${content}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签 &nbsp;<span class="glyphicon glyphicon-tag"></span></label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以，分割" style="width: 250px;" th:value="${tag}">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <button type="submit" class="btn btn-success btn-publish col-lg-2 col-md-12 col-sm-12 col-xs-12 btn-publish">发布</button>
                        <div th:if="${message} != null" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span th:text="${message}" role="alert"></span>
                        </div>
<!--                        <div th:if="${message} == '发布成功！去看看吧~'" class="col-lg-6 col-md-12 col-sm-12 col-xs-12 alert alert-success alert-dismissible">-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--                            <a href="/" class="alert-link" role="alert" th:text="${message}">...</a>-->
<!--                        </div>-->
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>贴子发表指南</h3>
            <ul class="list-unstyled">
                <li>👻 标题：请用精简的语言描述您发布的贴子，不超过25字</li>
                <li>😊 内容：详细补充您的问题内容，并确保内容描述清晰直观，并提供一些资料</li>
                <li>😝 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</li>
                <li>😅 等级：用户根据等级可分为高级用户、普通用户；金牌用户、银牌用户、铜牌用户、青铜用户。多多回复可以加经验升级</li>
                <li>🥵 支持一下</li>
            </ul>
        </div>
      </div>
    </div>
  </body>
</html>